Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
**/[Bb]in/
[Bb]uild/
[Dd]ebug*/
*.lib
*.sbr
obj/
**/[Oo]bj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
.vs/
/LEPInstaller/Resources/LEPCommonLibrary.dll
/LEPInstaller/Resources/LEPContextMenuHandler.dll
